SanteDB.DevTools/Schema/sdk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="sdk"
    xmlns:tns="http://santedb.org/configuration/sdk"
    targetNamespace="http://santedb.org/configuration/sdk"
    elementFormDefault="qualified"
    xmlns:mstns="http://santedb.org/configuration/sdk"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="DebugAppletConfigurationSection">
    <xs:sequence>
      <xs:element name="defaultApplet" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="applets" type="tns:ArrayOfApplets" minOccurs="0" maxOccurs="1" />
      <xs:element name="solution" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="references" type="tns:ArrayOfReferences" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfApplets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfReferences">
    <xs:sequence>
      <xs:element name="add" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
